In [1]:
import pandas as pd

In [9]:
file_path_1 = '/Users/zhanghongxu/Downloads/CustomerProject/JD_order_data.csv'
df_order = pd.read_csv(file_path_1)

file_path_2 = '/Users/zhanghongxu/Downloads/CustomerProject/JD_user_data.csv'
df_user = pd.read_csv(file_path_2)

df = pd.merge(df_order, df_user, on='user_ID')

print(df.head())

     order_ID     user_ID      sku_ID  order_date             order_time  \
0  d0cf5cc6db  0abe9ef2ce  581d5b54c1  2018-03-01  2018-03-01 17:14:25.0
1  7444318d01  33a9e56257  067b673f2b  2018-03-01  2018-03-01 11:10:40.0
2  f973b01694  4ea3cf408f  623d0a582a  2018-03-01  2018-03-01 09:13:26.0
3  8c1cec8d4b  b87cb736cb  fc5289b139  2018-03-01  2018-03-01 21:29:50.0
4  d43a33c38a  4829223b6f  623d0a582a  2018-03-01  2018-03-01 19:13:37.0

   quantity  type promise  original_unit_price  final_unit_price  ...  dc_des  \
0         1     2       -                 89.0              79.0  ...      28
1         1     1       2                 99.9              53.9  ...      28
2         1     1       2                 78.0              58.5  ...      28
3         1     1       2                 61.0              35.0  ...      28
4         1     1       1                 78.0              53.0  ...      16

   user_level  first_order_month  plus  gender    age  marital_status  \
0           1            2013-06     0       F  36-45               M
1           1            2016-05     0       F  26-35               S
2           2            2013-02     0       F  16-25               S
3           3            2014-08     0       F  26-35               M
4           1            2014-10     0       F  26-35               M

   education city_level  purchase_power
0          3          2               2
1          2          2               3
2          2          2               2
3          3          2               2
4          2          2               4

[5 rows x 26 columns]

In [11]:
plus = df[df['plus'] == 1]
notplus = df[df['plus'] == 0]

In [31]:
f_p = plus['final_unit_price']
f_np = notplus['final_unit_price']

In [33]:
mean_f_p = f_p.mean()
mean_f_np = f_np.mean()

print(mean_f_p)
print(mean_f_np)

80.35187528713371
69.60548082535034

In [29]:
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu

In [39]:
ttest_ind(f_p, f_np, equal_var = False)

TtestResult(statistic=33.74473217046411, pvalue=1.6379070767017376e-248, df=126523.80558810337)

In [41]:
mannwhitneyu(f_p, f_np, alternative = 'two-sided')

MannwhitneyuResult(statistic=23813292174.5, pvalue=1.1900084083779968e-152)

In [57]:
# calculate a ratio: final/original
plus['price_ratio'] = plus['final_unit_price']/plus['original_unit_price']
notplus['price_ratio'] = notplus['final_unit_price']/notplus['original_unit_price']

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/472696698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus['price_ratio'] = plus['final_unit_price']/plus['original_unit_price']
/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/472696698.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notplus['price_ratio'] = notplus['final_unit_price']/notplus['original_unit_price']

In [63]:
plus.head()

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,...,first_order_month,plus,gender,age,marital_status,education,city_level,purchase_power,ratio1_p,price_ratio
9,9c65b6264b,2021a86702,068f4481b3,2018-03-01,2018-03-01 00:12:07.0,1,1,1,298.0,208.0,...,2017-10,1,F,16-25,U,3,4,-1,0.697987,0.697987
10,9c65b6264b,2021a86702,d3e31fdd6e,2018-03-01,2018-03-01 00:12:07.0,2,1,1,0.0,0.0,...,2017-10,1,F,16-25,U,3,4,-1,NaN,NaN
14,11bb010740,e5b7eff416,6e18cb9666,2018-03-01,2018-03-01 10:05:56.0,1,1,3,269.0,169.0,...,2013-08,1,F,26-35,M,4,2,2,0.628253,0.628253
21,37327053be,e278593de1,90a8e42962,2018-03-01,2018-03-01 18:32:38.0,1,2,-,238.0,94.0,...,2013-02,1,F,26-35,S,3,2,2,0.394958,0.394958
22,d63faad1e8,1aa3eb1f80,6420ea9ac2,2018-03-01,2018-03-01 18:55:36.0,1,1,1,579.0,391.0,...,2011-09,1,F,46-55,M,4,2,2,0.675302,0.675302

In [89]:
plus1 = plus[plus['gift_item'] != 1]
notplus1 = notplus[notplus['gift_item'] != 1]

In [91]:
r1_p = plus1['price_ratio']
r1_np = notplus1['price_ratio']

mean_r1_p = r1_p.mean()
mean_r1_np = r1_np.mean()

print(mean_r1_p)
print(mean_r1_np)

0.6585378337958995
0.7219215799249015

In [93]:
ttest_ind(r1_p, r1_np, equal_var = False)

TtestResult(statistic=-76.28503951625527, pvalue=0.0, df=127017.43670360412)

In [97]:
plus1['ratio_dd'] = plus1['direct_discount_per_unit']/plus1['original_unit_price']
notplus1['ratio_dd'] = notplus1['direct_discount_per_unit']/notplus1['original_unit_price']

r2_p = plus1['ratio_dd']
r2_np = notplus1['ratio_dd']

mean_r2_p = r2_p.mean()
mean_r2_np = r2_np.mean()

print(mean_r2_p)
print(mean_r2_np)

0.1603389038997952
0.16700828253395314

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1749200045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus1['ratio_dd'] = plus1['direct_discount_per_unit']/plus1['original_unit_price']
/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1749200045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notplus1['ratio_dd'] = notplus1['direct_discount_per_unit']/notplus1['original_unit_price']

In [99]:
plus1['ratio_q'] = plus1['quantity_discount_per_unit']/plus1['original_unit_price']
notplus1['ratio_q'] = notplus1['quantity_discount_per_unit']/notplus1['original_unit_price']

r3_p = plus1['ratio_q']
r3_np = notplus1['ratio_q']

mean_r3_p = r3_p.mean()
mean_r3_np = r3_np.mean()

print(mean_r3_p)
print(mean_r3_np)

0.12674418823874903
0.07798485590644129

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1656131429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus1['ratio_q'] = plus1['quantity_discount_per_unit']/plus1['original_unit_price']
/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1656131429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notplus1['ratio_q'] = notplus1['quantity_discount_per_unit']/notplus1['original_unit_price']

In [101]:
plus1['ratio_b'] = plus1['bundle_discount_per_unit']/plus1['original_unit_price']
notplus1['ratio_b'] = notplus1['bundle_discount_per_unit']/notplus1['original_unit_price']

r4_p = plus1['ratio_b']
r4_np = notplus1['ratio_b']

mean_r4_p = r4_p.mean()
mean_r4_np = r4_np.mean()

print(mean_r4_p)
print(mean_r4_np)

0.007240148212158797
0.005010919451270148

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1927871299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus1['ratio_b'] = plus1['bundle_discount_per_unit']/plus1['original_unit_price']
/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/1927871299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notplus1['ratio_b'] = notplus1['bundle_discount_per_unit']/notplus1['original_unit_price']

In [103]:
plus1['ratio_c'] = plus1['coupon_discount_per_unit']/plus1['original_unit_price']
notplus1['ratio_c'] = notplus1['coupon_discount_per_unit']/notplus1['original_unit_price']

r5_p = plus1['ratio_c']
r5_np = notplus1['ratio_c']

mean_r5_p = r5_p.mean()
mean_r5_np = r5_np.mean()

print(mean_r5_p)
print(mean_r5_np)

0.04713892585339752
0.028074362183434117

/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/3549448407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus1['ratio_c'] = plus1['coupon_discount_per_unit']/plus1['original_unit_price']
/var/folders/w4/kry90djd25l1bcclv6_2szh00000gn/T/ipykernel_97717/3549448407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notplus1['ratio_c'] = notplus1['coupon_discount_per_unit']/notplus1['original_unit_price']

In [105]:
import statsmodels.formula.api as smf

model = smf.ols('quantity ~ direct_discount_per_unit + quantity_discount_per_unit + bundle_discount_per_unit + coupon_discount_per_unit + age + gender', data = plus1).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               quantity   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     52.21
Date:                Sat, 17 May 2025   Prob (F-statistic):          1.11e-115
Time:                        11:26:41   Log-Likelihood:            -1.7101e+05
No. Observations:               86246   AIC:                         3.420e+05
Df Residuals:                   86234   BIC:                         3.422e+05
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      1.1496      0.019     59.782      0.000       1.112       1.187
age[T.26-35]                   0.0362      0.019      1.927      0.054      -0.001       0.073
age[T.36-45]                   0.0563      0.021      2.709      0.007       0.016       0.097
age[T.46-55]                   0.2964      0.035      8.509      0.000       0.228       0.365
age[T.<=15]                    0.3185      0.879      0.362      0.717      -1.404       2.041
age[T.>=56]                    0.1229      0.041      3.024      0.002       0.043       0.203
age[T.U]                       0.0300      0.017      1.741      0.082      -0.004       0.064
gender[T.M]                    0.0658      0.012      5.285      0.000       0.041       0.090
gender[T.U]                    0.0300      0.017      1.741      0.082      -0.004       0.064
direct_discount_per_unit      -0.0006      0.000     -3.393      0.001      -0.001      -0.000
quantity_discount_per_unit     0.0047      0.000     18.291      0.000       0.004       0.005
bundle_discount_per_unit    2.888e-05      0.001      0.041      0.967      -0.001       0.001
coupon_discount_per_unit      -0.0035      0.000     -7.849      0.000      -0.004      -0.003
==============================================================================
Omnibus:                   274736.185   Durbin-Watson:                   1.806
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      62627312875.595
Skew:                          51.747   Prob(JB):                         0.00
Kurtosis:                    4176.347   Cond. No.                     1.73e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.56e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [69]:
price_0 = (df['final_unit_price'] == 0).sum()
print(price_0)

86069

In [13]:
plus['original_unit_price']
'final_unit_price'
'direct_discount_per_unit'

9         298.0
10          0.0
14        269.0
21        238.0
22        579.0
          ...
549966    298.0
549971    336.0
549977    269.0
549980      0.0
549983      0.0
Name: original_unit_price, Length: 100675, dtype: float64